shared_state_resource_group_name  = "rg-boutique-tfstate-weu"
shared_state_storage_account_name = "stboutiquetfstateweu"

# promotion_service_principal_object_id = "00000000-0000-0000-0000-000000000000"
